body {
    font-family: arial;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    line-height: 0.8em;
    width: 100%;
    margin: 0px;
    height: 100%;
    background-image: url('../images/background-xp.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #222;
    overflow: hidden;
}

.center {
    text-align: center;
    vertical-align: middle;
}

h1, h2, h3 {
    color: #ffd700;
}

h1 {
    font-size: 2.5em
}

h2 {
    font-size: 2em
}

h3 {
    font-size: 1.5em
}

a {
    text-decoration: none;
    color: #00f;
}

a:hover {
    text-decoration: underline;
}

div.menu {
    margin: 0px 0px 10px 0px;
    padding: 20px;
}

/* div.menu > div, p { */
/*     border: 2px black solid; */
/*     display: inline-block; */
/*     margin: 2px; */
/*     padding-inline: 5px; */
/*     border-radius: 5px; */
/* } */

div.menu ul > li {
    width: 32px;
    text-align: center;
    list-style: none;
    display: list-item;
    position: relative;
}

p.menu {
    text-align: center;
    color: #fff;
}

#menu-index {
    background: url('../images/xp-icons.png') 0px 0px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

#menu-films {
    background: url('../images/xp-icons.png') -256px -383px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

#menu-planets {
    background: url('../images/xp-icons.png') -256px -160px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

#menu-people {
    background: url('../images/xp-icons.png') -351px -352px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

.terminal {
    font-family: Perfect DOS VGA\ 437 Win;
    background: #000080;
    color: #fff;
    font-size: 1.5em;
    line-height: 1em;
    padding: 5px;
    overflow: auto;
    height: 30vw;
    overflow-x: auto;
}

table.items {
    border-collapse: collapse;
    width: 100%;
}

table.items td, th {
    border: 0px;
    text-align: left;
    padding: 5px;
    font-weight: normal;
}

table.items th {
    white-space: nowrap;
}

table.items th.sortable:hover {
    cursor: pointer;
}

table.items a {
    color: #fff;
    text-decoration: underline;
}

.tooltiptext {
    visibility: hidden;
}

button:hover {
    cursor: pointer;
}

div.window {
    width: 70vw;
    margin: auto;
}

.draggable {
    cursor: grab;
}
